.dashboard-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .page-title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .inventory-container {
    border: 6px solid rgb(65, 64, 64);
    background: rgb(226, 221, 221);
    padding: 20px;
    margin-bottom: 30px;

  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    text-align: left;
    padding: 12px;
    background-color: #f2f2f2;
    border-bottom: 1px solid rgb(114, 114, 114);
  }
  
  td {
    padding: 12px;
    border-bottom: 1px solid rgb(170, 167, 167);
  }
  
.invl{
  display: flex;
  gap: 4px;
  
}

.invl th{
  width: 400px;
}

.inv2{
  display: flex;
  gap: 4px;
}

.inv2 th{
  width: 400px;
}