
.Component{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    width: 935px;
    height: 45px;
    border-radius: 8px;
    box-shadow: 1px 14px solid black ;

}

.text{
    position: absolute;
    width: 240px;
}



.sku{
    position: relative;
    width: 240px;
    left: 244px;
}

.inv{
    position: relative;
    width: 240px;
    left: 250px;
}

.act{
    position: relative;
    width: 240px;
    left: 256px;
}
