.product-management-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .page-title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    text-align: left;
    padding: 22px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
  }

tr{
  display: flex;
  gap: 1px;
}

tr th{
  width: 240px;
}
  
  td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
  }
  
  .edit-button, .delete-button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .delete-button {
    background-color: #dc3545;
  }

  .add-product-button {
    position: absolute;
    top: 55px;
    left: 90%;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    float: right;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .modal-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .modal-save-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .modal-cancel-button {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .pref{

    position: relative;
    top: -10px;
    border-bottom: 2px solid #575555;
    border-radius: 4px;
    height: 30px;
    width: 200px;
  }
  
  .sref{
    position: relative;
    left: 4%;
    top: -10px;
    border-bottom: 2px solid #575555;
    border-radius: 4px;
    height: 30px;
    width: 200px;
  }

  .iref{
    position: relative;
    left: 8%;
    top: -10px;
    border-bottom: 2px solid #575555;
    border-radius: 4px;
    height: 30px;
    width: 200px;
  }