

.transactions-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.page-title {
  text-align: center;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
  
th {
  text-align: left;
  padding: 12px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
}

td {
  padding: 12px;
  border-bottom: 1px solid #ccc;
 
  
}


.hisdiv{
  display: flex;
  gap: 4px;
}

.hisdiv th{
  width: 300px;
}

.hisdiv1{
  display: flex;
  gap: 4px;
}

.hisdiv1 th{
  width: 300px;
}

.hisdiv2{
  display: flex;
  gap: 4px;
}

.hisdiv2 th{
  width: 300px;
}

.openModal{
  position: absolute;
  top: 55px;
  left: 87%;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  float: right;
}